<% if current_user.admin == true %>

<h1>Go To Admin</h1>

<h2><%= link_to "Click here to go to Admin", '/admin' %></h2>

<%= link_to 'Back To Home', root_path %>

<% else %>

<% if current_user %>
  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Login", new_user_session_path %>
<% end %><br>

<% end %>
