<section class="contact-section">
	<div class="page-title">
  		CONTACT
	</div>
	<div>
		<p>
			IN THE NEAR FUTURE, THE POWER OF FAST MESSAGING AND SHORT VIDEO WILL TRULY BE IN YOUR HANDS!
		</p>
		<p>facepopcompany@gmail.com</p>
	</div>
	<div class="social">
		<a href="https://www.facebook.com/facepopapp/" class="social-links"><img src="https://s3-us-west-2.amazonaws.com/facepop/social/icon_facebook.png" width="75"></a>
		<a href="https://twitter.com/FacepopApp" class="social-links"><img src="https://s3-us-west-2.amazonaws.com/facepop/social/icon_twitter.png" width="75"></a>
		<a href="https://www.instagram.com/facepopapp/" class="social-links"><img src="https://s3-us-west-2.amazonaws.com/facepop/social/icon_instagram.png" width="75"></a>
		<a href="https://www.pinterest.com/facepopcompany/" class="social-links"><img src="https://s3-us-west-2.amazonaws.com/facepop/social/icon_pinterest.png" width="75"></a>
		<a href="https://plus.google.com/u/0/112716641914283714321/posts" class="social-links"><img src="https://s3-us-west-2.amazonaws.com/facepop/social/icon_google_plus.png" width="75"></a>
	</div>
</section>