<section class="hero-section">
	<div class="hero-title-container">
		<div class="page-title hero-title">
	    	FACEPOP
	  	</div>
	  	<div class="hero-slogan">
	  		CHANGING THE FACE OF MESSAGING
	  	</div>
	</div>
</section>