<section class="product-section">
  <div class="page-title">
    PRODUCT
  </div>
    <div class="product-video-container" style="margin-top:0; margin-bottom:20px;">
      <div class="video-mask">
        <video id="video25" class="product-video-footer">
          <source src="https://s3-us-west-2.amazonaws.com/facepop/video/video-25.mp4" type="video/mp4">
          Your browser does not support HTML5 video.
        </video>
        <img id="25" class="play-button" onClick="playPause(this.id)" src="https://s3-us-west-2.amazonaws.com/facepop/play-button.png">
      </div>
    </div>
  <div class="product-content">
  	<p>
  		WE ARE A FLEDGLING MOBILE APPLICATION MOTIVATED TO RESHAPE YOUR MESSAGING EXPERIENCE WITH A RECOGNIZABLE MOTION VISUAL EFFECT; THE TALKING HEAD.
  	</p>
  	<p>
  		FACEPOP (PATENT PENDING) WILL ALLOW USERS TO CREATE AND SHARE SELF-MADE TALKING HEAD VIDEOS VIA TEXT MESSAGING AND/OR SOCIAL MEDIA PLATFORMS.
  	</p>
    
    <p style="margin-top:40px;">
    	YOUR SNAPPY FACEPOP MESSAGE MAY INCLUDE:
    </p>
    	<table class="product-table">
       <tr>
         <td class="product-table__col">
           <ul class="product-list">
            <li>
              General Messaging (e.g. I’m busy, call you right back.)
            </li>
            <li>
              Well Wishes
            </li>
            <li>
              Hot Slang Terms
            </li>
          </ul>
         </td>
          <td class="product-table__col">
           <ul class="product-list">
            <li>
              Dramatic and Comical Expressions
            </li>
            <li>
              Catchphrases
            </li>
            <li>
              Inspirational Quotes
            </li>
          </ul>
         </td>
          <td class="product-table__col">
           <ul class="product-list">
            <li>
              Newfound Promotional/Advertisement Opportunities
            </li>
            <li>
              Greetings
            </li>
          </ul>
         </td>
       </tr> 
      </table>
		  
		
    

  	<div class="product-video-group">
  		<div class="product-video-group__item">
  			<div class="product-question">
		  		ARE THEY GIFs?<p>&nbsp;</p>
		  	</div>
        <div class="product-video-container">
          <div class="video-mask">
            <video id="video105" class="product-video">
              <source src="https://s3-us-west-2.amazonaws.com/facepop/video/video-105.mp4" type="video/mp4">
              Your browser does not support HTML5 video.
            </video>
            <img id="105" class="play-button" onClick="playPause(this.id)" src="https://s3-us-west-2.amazonaws.com/facepop/play-button.png">
          </div>
        </div>
  		</div>
  		<div class="product-video-group__item">
  			<div class="product-question">
		  		ARE THEY MEMES OR PHOTOS OF YOUR HEAD?
		  	</div>
        <div class="product-video-container">
          <div class="video-mask">
            <video id="video83" class="product-video">
              <source src="https://s3-us-west-2.amazonaws.com/facepop/video/video-83.mp4" type="video/mp4">
              Your browser does not support HTML5 video.
            </video>
            <img id="83" class="play-button" onClick="playPause(this.id)" src="https://s3-us-west-2.amazonaws.com/facepop/play-button.png">
          </div>
        </div>
  		</div>
  		<div class="product-video-group__item">
  			<div class="product-question">
		  		ARE THEY ANIMATED EMOJIS?
		  	</div>
        <div class="product-video-container">
          <div class="video-mask">
            <video id="video40" class="product-video">
              <source src="https://s3-us-west-2.amazonaws.com/facepop/video/video-40.mp4" type="video/mp4">
              Your browser does not support HTML5 video.
            </video>
            <img id="40" class="play-button" onClick="playPause(this.id)" src="https://s3-us-west-2.amazonaws.com/facepop/play-button.png">
          </div>
        </div>
  		</div>
  	</div>
    
    <p>
      <b>FACEPOP WILL SPARK A NEW HOT TREND WHILE IMPROVING CONSICENESS, CLARITY AND EFFICIENCY DURING ONE’S MESSAGING EXPERIENCE.</b>
    </p>

  </div>

</section>

<script> 
function playPause(clicked_id) { 

    var clicked_video = 'video' + clicked_id;
    var myVideo = document.getElementById(clicked_video); 
    var controllerImage = document.getElementById(clicked_id); 

    if (myVideo.paused) {
        myVideo.play(); 
        $('#'+clicked_id).hide();
    }

    myVideo.onended = function() {
      $('#'+clicked_id).show();
      controllerImage.src = 'https://s3-us-west-2.amazonaws.com/facepop/play-button.png';
    };
        
} 
</script>