<section class="product-section">
  <div class="page-title">
    PRODUCT
  </div>
  <div class="product-content">
  	<p>
  		YOUR MESSAGING EXPERIENCE WILL ELEVATE WITH SNAPPY
		TALKING HEAD VIDEOS (THVs) FEATURING YOU!
  	</p><hr>
  	<p>
  		CREATE AND SHARE YOUR THV FOR CUSTOMERS, CLIENTS,
		BUSINESS PARTNERS, FRIENDS & FAMILY
  	</p>
        <div class="phone">
      
    </div>
    <hr>
  	<p>
  		INSPIRATIONAL QUOTES, GREETINGS, HOT SLANG TERMS,
		CALENDAR REMINDERS, WELL WISHES, CATCHPHRASES, 
		BUSINESS SLOGANS/PROMOTIONS, DRAMATIC/COMICAL
		EXPRESSIONS AND MORE
  	</p><hr>
  	<div class="row">
  		<div class="col-md-4">
  			<p class="product-question">
		  		ARE THEY GIFs?<br>
				No, Yuck!
		  	</p>
        <div class="product-video-container">
          <video id="video105" class="product-video">
            <source src="https://s3-us-west-2.amazonaws.com/facepop/video/video-105.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
          </video>
          <img id="105" class="play-button" onClick="playPause(this.id)" src="https://s3-us-west-2.amazonaws.com/facepop/play-button.png">
        </div>
  		</div>
  		<div class="col-md-4">
  			<p class="product-question">
		  		ARE THEY MEMES OR PHOTOS OF YOUR HEAD?<br>
				No Way!
		  	</p>
        <div class="product-video-container">
          <video id="video40" class="product-video">
            <source src="https://s3-us-west-2.amazonaws.com/facepop/video/video-40.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
          </video>
          <img id="40" class="play-button" onClick="playPause(this.id)" src="https://s3-us-west-2.amazonaws.com/facepop/play-button.png">
        </div>
  		</div>
  		<div class="col-md-4">
  			<p class="product-question">
		  		ARE THEY ANIMATED EMOJIS?<br>
				Nope!
		  	</p>
        <div class="product-video-container">
          <video id="video83" class="product-video">
            <source src="https://s3-us-west-2.amazonaws.com/facepop/video/video-83.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
          </video>
          <img id="83" class="play-button" onClick="playPause(this.id)" src="https://s3-us-west-2.amazonaws.com/facepop/play-button.png">
        </div>
  		</div>
  	</div>
    <hr>
    <p>
      <b>FACEPOP IS THE NEW COOL KID ON THE BLOCK WITH INTENSE FOCUS TO SPARK A NEW MESSAGING TREND</b>
    </p><hr>
    <p>
      <b>WE WELCOME YOU TO JOIN US AND SHAKE UP THE WORLD OF MESSAGING WITH A COMMUNICATION TOOL GEARED TO IMPROVE CONSICENESS, CLARITY AND EFFICIENCY</b>
    </p><hr>
    <p>
      <b>LET’S GET FACEPOPPIN’</b>
    </p>

  </div>

</section>

<script> 
function playPause(clicked_id) { 

    var clicked_video = 'video' + clicked_id;
    var myVideo = document.getElementById(clicked_video); 
    var controllerImage = document.getElementById(clicked_id); 

    if (myVideo.paused) {
        myVideo.play(); 
        controllerImage.src = 'https://s3-us-west-2.amazonaws.com/facepop/pause-button.png';
    }
    else {
        myVideo.pause(); 
        controllerImage.src = 'https://s3-us-west-2.amazonaws.com/facepop/play-button.png';
    }

    myVideo.onended = function() {
      controllerImage.src = 'https://s3-us-west-2.amazonaws.com/facepop/play-button.png';
    };
        
} 
</script>