<section>
  <div class="page-title">
    PRODUCT
  </div>
  <div class="product-content">
  	<p>
  		YOUR MESSAGING EXPERIENCE WILL ELEVATE WITH SNAPPY
		TALKING HEAD VIDEOS (THVs) FEATURING YOU!
  	</p>
  	<p>
  		CREATE AND SHARE YOUR THV FOR CUSTOMERS, CLIENTS,
		BUSINESS PARTNERS, FRIENDS & FAMILY
  	</p>
  	<p>
  		INSPIRATIONAL QUOTES, GREETINGS, HOT SLANG TERMS,
		CALENDAR REMINDERS, WELL WISHES, CATCHPHRASES, 
		BUSINESS SLOGANS/PROMOTIONS, DRAMATIC/COMICAL
		EXPRESSIONS AND MORE
  	</p>
  	<p>
  		ARE THEY GIFs?<br>
		No, Yuck!
  	</p>
  	<p>
  		ARE THEY MEMES OR PHOTOS OF YOUR HEAD?<br>
		No Way!
  	</p>
  	<p>
  		ARE THEY ANIMATED EMOJIS?<br>
		Nope!
  	</p>
  	<p>
  		
  	</p>
  </div>

</section>