<section class="product-section">
  <div class="page-title">
    PRODUCT
  </div>
    <div class="product-video-container" style="margin-top:0; margin-bottom:20px;">
      <div class="video-mask">
        <video poster="https://s3-us-west-2.amazonaws.com/facepop/poster25.png" id="video25" class="contact-video-footer" style="top: -80px; left: -86px;">
          <source src="https://s3-us-west-2.amazonaws.com/facepop/video/video-25.mp4" type="video/mp4">
          Your browser does not support HTML5 video.
        </video>
        <img id="25" class="play-button product-video-play-image" onClick="playPause(this.id)" src="https://s3-us-west-2.amazonaws.com/facepop/play-button.png">
      </div>
    </div>
  <div class="product-content">
  	<div class="main-text" style="margin-bottom:15px;">
  		WE ARE A FLEDGLING MOBILE APPLICATION MOTIVATED TO RESHAPE YOUR MESSAGING EXPERIENCE WITH A RECOGNIZABLE MOTION VISUAL EFFECT; THE TALKING HEAD.
  	</div>
  	<div class="main-text" style="margin-bottom:15px;">
  		THE PATENT PENDING FACEPOP ALGORITHM WILL ALLOW USERS TO CREATE AND SHARE SELF-MADE TALKING HEAD VIDEOS VIA TEXT MESSAGING AND/OR SOCIAL MEDIA PLATFORMS.
  	</div>

    <div class="main-text" style="margin:15px 0;">
    	YOUR SNAPPY FACEPOP MESSAGE MAY INCLUDE:
    </div>

    <div class="row">

      <div class="col-xs-4">
        <div class="product-list-group">
          <ul class="product-list">
            <li>
              Greetings
            </li>
            <li>
              Dramatic and Comical Expressions
            </li>
            <li>
              Well Wishes
            </li>
          </ul>
        </div>

        <div class="product-question">
          <p class="product-questions">ARE THEY GIFs?</p><p>&nbsp;</p>
        </div>
        <div class="product-video-group">
          <div class="product-video-group__item">

            <div class="product-video-container">
              <div class="video-mask contact-video-mask">
                <video poster="https://s3-us-west-2.amazonaws.com/facepop/poster105.png" id="video105" class="contact-video-footer">
                  <source src="https://s3-us-west-2.amazonaws.com/facepop/video/video-105.mp4" type="video/mp4">
                  Your browser does not support HTML5 video.
                </video>
                <img id="105" class="play-button product-video-play-image" onClick="playPause(this.id)" src="https://s3-us-west-2.amazonaws.com/facepop/play-button.png">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="product-list-group">
          <ul class="product-list">
            <li>
              Hot Slang Terms
            </li>
            <li>
              General Messaging
            </li>
            <li>
              Catchphrases
            </li>
          </ul>
        </div>

        <div class="product-question">
          <p class="product-questions">ARE THEY PHOTOS?</p>
        </div>
        <div class="product-video-group__item">

          <div class="product-video-container">
            <div class="video-mask contact-video-mask">
              <video poster="https://s3-us-west-2.amazonaws.com/facepop/poster83.png" id="video83" class="contact-video-footer">
                <source src="https://s3-us-west-2.amazonaws.com/facepop/video/video-83.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
              </video>
              <img id="83" class="play-button product-video-play-image" onClick="playPause(this.id)" src="https://s3-us-west-2.amazonaws.com/facepop/play-button.png">
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="product-list-group">
          <ul class="product-list">
            <li>
              Inspirational Quotes
            </li>
            <li>
              Advertisement
            </li>
            <li>
              Notifications
            </li>
          </ul>
        </div>

        <div class="product-question">
          <p class="product-questions">ANIMATED EMOJIS?</p>
        </div>
        <div class="product-video-group__item">

          <div class="product-video-container">
            <div class="video-mask contact-video-mask">
              <video poster="https://s3-us-west-2.amazonaws.com/facepop/poster75.png" id="video40" class="contact-video-footer">
                <source src="https://s3-us-west-2.amazonaws.com/facepop/video/video-40.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
              </video>
              <img id="40" class="play-button product-video-play-image" onClick="playPause(this.id)" src="https://s3-us-west-2.amazonaws.com/facepop/play-button.png">
            </div>
          </div>
        </div>
    </div>



  </div>
    <div style="margin-top:20px;">
      <div class="main-text">
        FACEPOP WILL SPARK A NEW HOT TREND WHILE IMPROVING CONSICENESS, CLARITY AND EFFICIENCY DURING ONE’S MESSAGING EXPERIENCE.
      </div>
    </div>
</section>

<script>
function playPause(clicked_id) {

    var clicked_video = 'video' + clicked_id;
    var myVideo = document.getElementById(clicked_video);
    var controllerImage = document.getElementById(clicked_id);

    if (myVideo.paused) {
        myVideo.play();
        $('#'+clicked_id).hide();
    }

    myVideo.onended = function() {
      $('#'+clicked_id).show();
      controllerImage.src = 'https://s3-us-west-2.amazonaws.com/facepop/play-button.png';
    };

}
</script>
