<section id="survey-section" class="survey-section">
	<div class="page-title">
  		SURVEY
	</div>
	<div class="">
    <div class="product-video-container" style="margin-top:0; margin-bottom:20px;">
      <div class="video-mask contact-video-mask">
        <video poster="https://s3-us-west-2.amazonaws.com/facepop/poster13.png" id="video13" class="contact-video-footer">
          <source src="https://s3-us-west-2.amazonaws.com/facepop/video/video-13.mp4" type="video/mp4">
          Your browser does not support HTML5 video.
        </video>
        <img id="13" class="play-button product-video-play-image" onClick="playPause(this.id)" src="https://s3-us-west-2.amazonaws.com/facepop/play-button.png">
      </div>
    </div>
		  <div class="main-text" style="margin:10px 0;">
  			FACEPOP IS IN THE EARLY STAGES OF BETA. YOUR INPUT IS IMPORTANT TO US AND TOGETHER WE 
  			CAN MAKE FACEPOP UNDENIABLE!
		  </div>

	</div>
  <hr>
  <div class="survey-slider">    
    <% @questions.order("created_at").each_with_index do |question, index| %>
    <div>
      <div id="question_<%= question.id %>" style="text-align: center">
        <span class="survey-questions"><%= question.question %></span>
        <div class="container survey-button">
          <% question.answers.order(:order).each_with_index do |answer, answer_index| %>
            <div style="position:relative;">

              <%= link_to "<div class='survey-btn'> #{answer.answer} </div>".html_safe, survey_answers_path(:vote_id => @current_vote, :question_id => question.id, :answer_id => answer.id), method: :post, class: "survey-link", remote: true %>

            </div>
            
          <% end %>
        </div>  
      </div>
    </div>
    <% end %>
    <div style="text-align: center;">
      <span style="font-size: 30px; color: #FFF">
      THANK YOU FOR COMPLETING OUR CONSUMER ANALYSIS SURVEY!</span>
    </div>
  </div>
  <div id="question-counter" class="question-counter">
    <div class="main-text">
      Question <span id="question-number">1</span> of <%= @questions.count %>
    </div>
  </div>
</section>