<section class="team-section">
	<div class="page-title">
  		TEAM
	</div>

	<div class="product-video-container" style="margin-top:0;">
      <div class="video-mask contact-video-mask">
        <video poster="https://s3-us-west-2.amazonaws.com/facepop/poster29.png" id="video29" class="contact-video-footer">
          <source src="https://s3-us-west-2.amazonaws.com/facepop/video/video-29.mp4" type="video/mp4">
          Your browser does not support HTML5 video.
        </video>
        <img id="29" class="play-button product-video-play-image" onClick="playPause(this.id)" src="https://s3-us-west-2.amazonaws.com/facepop/play-button.png">
      </div>
    </div>
	<div class="row team">
  		<div class="col-md-3 team-bio">
  			<div class="team-bio_images">
  				<img src="https://s3-us-west-2.amazonaws.com/facepop/fp_logo_final.png" width="200" class="team-bio_image">
  			</div>

  			<b>Bervick J. Deculus II</b><div class="team-bio__title">

			CEO</div>
			<div class="team-bio__content">
			Founder of The Facepop Company (dba) and wildly motivated in offering a new communication tool that
			elevates today’s messaging experience around the globe. Bervick is an independent businessman for
			over 15 years with upwards of 20,000 hours in project management for independent entertainment
			companies and small businesses. Throughout his trails, Bervick continues to build and tailor quality
			assurance plans, refine creative development processes, conceptualize and develop viable
			products, services and events, and an all around natural creator and team player. While staying ahead
			of pop culture trends, Bervick truly manages to <em>"tastemake"</em> with an unmatched level of meticulosity.
			Bervick is a graduate of Howard University with a BA in Communications.</div>
			<div class="team-border"></div>
  		</div>

	  	<div class="col-md-3 team-bio bio-rel">
	  		<div class="team-bio_images">
  				<img src="https://s3-us-west-2.amazonaws.com/facepop/fp_logo_final.png" width="200" class="team-bio_image">
  			</div>

  			<b>Kareem Grimes</b><div class="team-bio__title">

			Co-Founder</div>
			<div class="team-bio__content">
			Kareem upholds the creative direction and partnership development for the
			The Facepop Company. Kareem, a 20 year seasoned actor, services major companies
			like, Samsung, At&t and Mountain Dew as an event consultant and brand
			ambassador. Whether for sales, brand recognition, creative vetting and/or
			personal empowerment, Kareem's innate ability to create an impactful
			experience is proven to be unmatched. Due to his keen awareness of pop
			culture and its forthcoming trends, Kareem's ability to garner key relationships,
			locate product and talent with great potential is quite superior. Certainly,
			delivering creative needs for product development, marketing and building
			strategic partnerships to accelerate Facepop's growth can only come with
			ease. Kareem Grimes is a graduate of Cal State Los Angeles with a BA in
			Broadcast Journalism and Radio TV & Film.</div>
			<div class="team-border"></div>
	  	</div>

	  	<div class="col-md-3 team-bio bio-rel">
	  		<div class="team-bio_images">
  				<img src="https://s3-us-west-2.amazonaws.com/facepop/maginfo.png" class="team-bio_image"style="width:245px; bottom:85px;">
  			</div><br>
			<div class="team-bio__title">UX/UI Engineers</div>
			<div class="team-bio__content">
			From custom integrations and mobile applications, to enterprise search and big data analytics, we bring a world-class experience to clients of all sizes, across dissimilar industries and all with unique needs.  With years of experience providing innovative custom data and development solutions, we only offer the highest quality custom solutions with the most modern product architectures, practices and technologies.</div>
			<div class="team-border"></div>
	  	</div>

  		<div class="col-md-3 team-bio">
				<div class="team-bio_images">
  				<img src="https://s3-us-west-2.amazonaws.com/facepop/hs-new-logo.png" width="200" class="team-bio_image" style="bottom: 20px;">
  			</div>

  			<b>Harrison Schaen</b><div class="team-bio__title">

			CTO Advisor & Business Strategist</div>
			<div class="team-bio__content">
			Harrison is a graduate of Princeton University with a concentration in Computer Science and English.
			Harrison has more than 5 years of web and application development experience. Currently,
			Harrison is at the helm of Issue Fixers, Inc. (web/app development services), Sr. Web Developer at Bask
			Digital Media and founder of OK Feed Me (mobile application; beta). Along with his virtuosities within the booming tech space, Harrison continues to exercise his multimedia marketing abilities, and business strategies for both small and large businesses that drive company growth and success.</div>
			</div>
	</div>


</section>
