<section class="team-section">
	<div class="page-title">
  		TEAM
	</div>
	
	<div class="product-video-container" style="margin-top:0;">
      <div class="video-mask">
        <video id="video29" class="team-video-footer">
          <source src="https://s3-us-west-2.amazonaws.com/facepop/video/video-29.mp4" type="video/mp4">
          Your browser does not support HTML5 video.
        </video>
        <img id="29" class="play-button" onClick="playPause(this.id)" src="https://s3-us-west-2.amazonaws.com/facepop/play-button.png">
      </div>
    </div>
	<div class="row team">
  		<div class="col-md-3 team-bio" style="border-right: 1px solid">
  			<div class="team-bio_images">
  				<img src="https://s3-us-west-2.amazonaws.com/facepop/fp_logo_final.png" width="200" class="team-bio_image">
  			</div>
  		
  			<b>Bervick J. Deculus II</b><div class="team-bio__title">

			CEO</div>
			<div class="team-bio__content">
			Founder of The Facepop Company (dba) and wildly motivated in offering a new communication tool that 
			elevates today’s messaging experience around the globe. Bervick is an independent businessman for 
			over 15 years with upwards of 20,000 hours in project management for independent entertainment 
			companies and small businesses. Throughout his trails, Bervick continues to build and tailor quality 
			assurance plans, refine creative development processes, conceptualize and develop viable 
			products, services and events, and an all around natural creator and team player. While staying ahead 
			of pop culture trends, Bervick truly manages to <em>"tastemake"</em> with an unmatched level of meticulosity. 
			Bervick is a graduate of Howard University with a BA in Communications.</div>
  		</div>

	
	  	<div class="col-md-3 team-bio" style="border-right: 1px solid">
	  		<div class="team-bio_images">
  				<img src="https://s3-us-west-2.amazonaws.com/facepop/hs-new-logo.png" width="200" class="team-bio_image">
  			</div>
  		
  			<b>Harrison Schaen</b><div class="team-bio__title">

			CTO Advisor & Business Strategist</div>
			<div class="team-bio__content">
			Harrison is a graduate of Princeton University with a concentration in Computer Science and English. 
			Harrison has more than 5 years of web and application development experience. Currently, 
			Harrison is at the helm of Issue Fixers, Inc. (web/app development services), Sr. Web Developer at Bask 
			Digital Media and founder of OK Feed Me (mobile application; beta). Along with his virtuosities within the booming tech space, Harrison continues to exercise his multimedia marketing abilities, and business strategies for both small and large businesses that drive company growth and success.</div>
	  	</div>
	  	<div class="col-md-3 team-bio" style="border-right: 1px solid">
	  		<div class="team-bio_images">
  				<img src="https://s3-us-west-2.amazonaws.com/facepop/maginfo.png" width="200" class="team-bio_image">
  			</div><br>
			<div class="team-bio__title">UX/UI Engineers</div>
			<div class="team-bio__content">
			From custom integrations and mobile applications, to enterprise search and big data analytics, we bring a world-class experience to clients of all sizes, across dissimilar industries and all with unique needs.  With years of experience providing innovative custom data and development solutions, we only offer the highest quality custom solutions with the most modern product architectures, practices and technologies.</div>
	  	</div>

  		<div class="col-md-3 team-bio">
  			<div class="team-bio_images">
  				<img src="https://s3-us-west-2.amazonaws.com/facepop/p_p_logo.png" width="200" class="team-bio_image">
  			</div><br>
  		
  			<div class="team-bio__title">

			UX/UI Consultant</div>
			<div class="team-bio__content">
			We are a digital agency specializing in web/app design and development, SEO marketing and traffic e-commerce and strategy. We find it incredibly important for us to merge the artistic world with the engineering world together. Simply, we see apps and websites as an art form. Created with an idea to teach and bring businesses to the digital frontier, we’re passionate about helping start up companies mature analysis, responsive web design, in the technical market.</div>
  		</div>
	</div>


</section>
