// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@font-face {
        font-family: "A Love of Thunder";
        src: url(/assets/A-Love-of-Thunder.ttf) format("truetype");
    }

@font-face {
        font-family: "Arial Rounded";
        src: url(/assets/Arial-Rounded-MT-Regular.ttf) format("truetype");
    }

html, body {
	font-family: "Arial Rounded";
}

div p {
	font-family: "Arial Rounded";
	line-height: 1.4;
}

nav.navbar {
	margin-bottom: 0 !important;
}

.blink_me {
	color:red; 
	font-size:40px; 
	font-family: "A Love of Thunder";
}

.page-title {
	font-family: "A Love of Thunder";
	font-size: 136px;
	text-align: center;
}

section {
	padding: 30px 60px;
}

.hero-title {
	padding: 200px 0;
	font-size: 205px;
	position: relative;
}

.hero-title-container {
	position: relative;
}

.hero-slogan {
	font-size: 64px;
	position: absolute;
	bottom: 0;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

.hero-image {
	margin: auto;
}

.phone {
	background-image: url('https://s3-us-west-2.amazonaws.com/facepop/android.png');
	background-repeat: no-repeat;
    background-size: contain;
    background-position: center; 
	height: 512px;
	width: 400px;
	margin: auto;
	position: relative;
}

.play-button-phone {
	height: 60px;
    width: 60px;
    position: absolute;
    left: 45px;
    bottom: 43px;
}

.product-phone-video-container {
	margin-top: 0px;
    position: absolute;
    top: 136px;
    left: 102px;
}

.product-video-phone {
    width: 289px;
    height: 152px;
    position: absolute;
    top: 0px;
    left: -68px;
}

.video-mask-phone {
    width: 141px;
    height: 156px;
    border-radius: 125px;
    margin: auto;
    margin-top: 40px;
    position: relative;
    -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
}

.hero-section {
	background-image: url('https://s3-us-west-2.amazonaws.com/facepop/fp_logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; 
	background-color: #4B88D3;
	color: #FFFFFF;
	text-align: center;
}

.survey-section {
	background-color: #FE9A41;
}

.team-section {
	background-color: #D3D3D3;
}

.modal-title {
	color: orange;
}

div p {
	text-align: center;
	font-size: 26px;
}

.survey-content p {
	text-align: center;
	font-size: 26px;
}

.survey-button {
	width: 55% !important;
}

.question-counter p {
	text-align: center;
	padding-top: 10px;
	font-family: "A Love of Thunder";
	
}

.product-section {
	background-color: #4B88D3;
	color: #FFFFFF;
}

.product-video-container {
	text-align: center;
	position: relative;
	margin-top: 30px;
}

.product-question {
	height: 84px;
}

.contact-section {
	background-color: #5F5D5D;
	color: #FFFFFF;
}

.play-button {
	height: 80px;
	width: 80px;
	position: absolute;
	left: 86px;
	bottom: 82px;
}

.video-mask {
  width: 250px;
  height: 250px;
  border-radius: 125px;
  margin: auto;
  position: relative;
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
}

.product-video {
  width: 500px;
  height: 500px;
  position: absolute;
  top: -111px;
  left: -100px;
}

.product-video-footer {
  width: 500px;
  height: 500px;
  position: absolute;
  top: -111px;
  left: -118px;
}

.contact-video-footer {
  width: 500px;
  height: 500px;
  position: absolute;
  top: -111px;
  left: -100px;
}

.team-bio {
	text-align: center;
	font-size: 20px;
	padding-top: 30px;

	&_images {
		height: 200px;
		position: relative;
	}

	&_image {
		width: 200px;
		bottom: 0;
	    position: absolute;
	    margin-left: auto;
	    margin-right: auto;
	    left: 0;
	    right: 0;
	}
}

.button-font-large {
	font-size: 26px !important;
}

.social {
	text-align: center;
}

.social-links {
	padding: 0 5px;
}

.footer-videos {
	text-align: center;
	padding-top: 50px;
}

.footer-video {
	margin:	0 10px;
}

.team-video-footer {
  width: 500px;
  height: 500px;
  position: absolute;
  top: -111px;
  left: -111px;
}

@media only screen and (max-width: 675px) {
	.page-title {
		font-size: 90px;
	}
}

@media only screen and (max-width: 480px) {
	.page-title {
		font-size: 73px;
	}

	.product-video {
		width: 340px;
	}

	.survey-button {
		width: 90% !important;
	}

	.button-font-large {
		font-size: 20px !important;
	}

	section {
		padding: 30px 15px;
	}

	.play-button {
		left: 50px;
	}
}