// Place all the styles related to the SurveyAnswers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.modal .modal-dialog {
	height: 100% !important;
	width: 100% !important;
	margin-top: 0 !important;
}

.modal .modal-content {
	background: rgba(255, 255, 255, .9);
}

.modal-title {
	text-align: center;
}

.question_label {
	font-size: 18px;
	text-align: center;
}