<nav class="" style="height:80px;">
  <div class="container">
    <a href="#survey-section"><span class="page-scroll"><img src="https://s3-us-west-2.amazonaws.com/facepop/survey-button.png" style="height:97px; width:226px; display: block; margin: auto;" class="blink_me"></span></a>
  </div>
</nav>

<script>
	(function blink() { 
	  $('.blink_me').fadeOut(1000).fadeIn(1000, blink); 
	})();

	$(function() {
    $('a.page-scroll').bind('click', function(event) {
        var $anchor = $(this);
        $('html, body').stop().animate({
            scrollTop: $($anchor.attr('href')).offset().top
        }, 1500, 'easeInOutExpo');
        event.preventDefault();
    });
});
</script>

